{% extends 'layouts/base.html' %} {% block titulo %} Inicio {% endblock %} 

{% block contenido %}
<div class="jumbotron m-5">
  <h1 class="display-4">Assist Control,!</h1>
  <p class="lead">It is a simple application, with which you can record the attendance of your students throughout the semester.</p>
  <hr class="my-4">
  <p>You will also have a clear reference of the students who missed your classes.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/keliumJU/control_de_asistencia" target="_blank" role="button">Learn more</a>
  </p>
</div>
{% endblock %}